<html>
<head>
  <title>Prototype Funding Application System</title>
  <style>
    body {
      font-family: sans-serif;
    }

    th, td {
      text-align: left;
      padding: 6px 10px;
    }

    .total {
      font-weight: bold;
      font-size: 1.2em;
    }
  </style>
</head>
<body>
<h1>Prototype Funding Application System</h1>
<h2>Applications Dashboard</h2>
<h3>Summary of Outputs</h3>
<ul>
  {% for countable in countables_summary %}
  <li>{{countable.label}}: <span class="total">{{countable.total|floatformat:"0"}}</span></li>
  {% endfor %}
  {% for summable in summables_summary %}
  <li>{{summable.label}}: <span class="total">{{summable.total|floatformat:"0"}}</span> {{summable.unit}}</li>
  {% endfor %}
</ul>

<h3>List of Applications</h3>
<table>
  <thead>
  <tr>
    <th>Application</th>
    <th>Fund</th>
    <th>Submitted</th>
    <th>Outputs</th>
  </tr>
  </thead>
  <tbody>
  {% for application in applications %}
  <tr>
    <td>{{application.title}}</td>
    <td>{{application.fund.name}}</td>
    <td>{{application.submitted_at|date:"d/m/Y H:i"}}</td>
    <td>
      {% for output in application.countable_outputs.all %}
        {{output.criterion.label}}: {{output.committed_quantity|floatformat:"0"}}.
      {% endfor %}
      {% for output in application.summable_outputs.all %}
        {{output.criterion.label}}:
        {{output.committed_quantity|floatformat:"0"}} {{output.criterion.unit}}.
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>